.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata
*.moved-aside
*.xcuserdatad
*.orig

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Local caches
words/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# SwiftPM Integration
.swiftpm/

# Xcode automatic symbols
*.dSYM
*.ipa

# User content
*.plist.user

